<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.zhanlu.sync-origin-upstream</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>__ZHANLU_SYNC_RUNNER__</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>GIT_TERMINAL_PROMPT</key>
		<string>0</string>
	</dict>
	<key>StandardOutPath</key>
	<string>__ZHANLU_SYNC_STDOUT__</string>
	<key>StandardErrorPath</key>
	<string>__ZHANLU_SYNC_STDERR__</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>5</integer>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>LowPriorityIO</key>
	<true/>
	<key>Nice</key>
	<integer>10</integer>
</dict>
</plist>
